* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 0;
  margin: 0;
  background-color: #2f4858;
}

/*Animação na página*/
@keyframes animacao {
  0% {
    opacity: 0;
    transform: translateY(100);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Formulário de recuperação de senha*/
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: animacao 1s ease-out forwards;
  transform: translateY(100px);
  transition: 1s;
}

.titulo-seguranca {
  color: #2f4858;
  text-align: center;
  margin-bottom: 20px;
}

.subtitulo-seguranca {
  color: #555;
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.dica-seguranca {
  color: #555;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.form {
  border: 2px solid green;
  border-radius: 10px;
  padding: 20px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  color: rgba(0,0,0,0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*Botão*/
.btn-green {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background: green;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-green:hover {
  background: darkgreen;
  color: #fff;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: animacao 1s ease-out forwards;
  transform: translateY(100px);
  transition: 1s;
}

/*Responsividade para celular*/
@media (min-width: 480px) {
  .btn-green {
    padding: 10px;
    font-size: 15px;
  }
}

/*Responsividade para desktop e laptop*/
@media (min-width: 1024px) {
  .btn-green {
    padding: 10px;
    font-size: 20px;
  }
}